/* Fondo del web general */
body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Tamaño de la carousel */
#carouselExampleInterval {
    max-width: 1200px !important; 
    width: 95% !important; 
    margin: 50px auto; 
}

#carouselExampleInterval .carousel-item img {
    width: 100% !important;    
    height: auto !important;
    max-height: 400px !important;
    object-fit: contain !important;
}

/* Puntito seleccionado activo */
#carouselExampleInterval .carousel-indicators .active {
    background-color: #e10600 !important; 
    opacity: 1;                           
}

/* Puntito seleccionado */
#carouselExampleInterval .carousel-indicators button {
    background-color: #000000; 
}

.navbar-bandera {
    /* Reemplaza con el nombre o ruta real de tu imagen PNG */
    background-image: url('img/head/banderacuadro.png'); 
    
    /* Hace que la imagen cubra todo el espacio sin deformarse */
    background-size: cover; 
    
    /* Centra la imagen */
    background-position: center right; 
    
    /* Evita que la imagen se repita como un mosaico */
    background-repeat: repeat-x; 

}

/* El estilo del boton de contacto */
.navbar-nav .btn-contacto-verde {
    color: #ffffff !important;  
    background-color: #198754 !important;     
    border: none !important;       
    padding: 6px 15px !important;    
    border-radius: 4px !important;   
    font-weight: bold;
    transition: background-color 0.3s ease; 
}

.navbar-nav .btn-contacto-verde:hover {
    background-color: #198754 !important; 
    color: #ffffff !important;            
}

/* El estilo del boton de carrito */

.btn-carrito {
    background-color: #e10600 !important; 
    color: #ffffff !important;            
    border: 3px solid #e10600 !important; 
    transition: background-color 0.2s ease;
}

.btn-carrito:hover {
    background-color: transparent !important;
    border: 2px solid #e10600 !important;
    color: #e10600 !important;
}